.footer {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: pink 2px solid;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
